body {
    margin: 0;
    padding: 0;
    font-family: AvenirNext-Regular;
    color: #75716d;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

#info-box {
    top: 5%;
    right: 5%;
    width: 230px;
    position: absolute;
    background-color: rgba(248, 247, 243, 0.9);
    box-shadow: -2px 0 21px 0 rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    padding: 10px;
}

button {
    display: block;
    margin: 5px;
    width: 170px;
    text-align: left;
    font-family: AvenirNext-Regular;
    color: #75716d;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border-color: transparent;
}

img {
    width: 20px;
    height: 20px
}
